.page.menu {
  display: flex;
  flex-direction: column;
  padding: 5em;
  gap: 1.5em;
  background-color: rgb(255, 251, 234);
}

.page.menu #title {
  font-size: 36px;
  color: #BC2326;
  margin-bottom: 15px;
}

.page.menu #info {
  color: rgb(106, 106, 106);
  line-height: 1.8;
  max-width: 800px;
  margin-bottom: 20px;
}

.page.menu div strong {
  font-weight: bold;
  color: #BC2326;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.page.menu ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 15px;
}

.page.menu ul li {
  margin: 3px 0;
  font-size: 16px;
  color: #444;
}
